# for the love of god change these.
SURREAL_USER=root
SURREAL_PASS=root
SURREAL_DEFAULT_NAMESPACE=mush
SURREAL_DEFAULT_DATABASE=mush
SURREAL_CAPS_ALLOW_NET=.
SURREAL_CAPS_ALLOW_EXPERIMENTAL=surrealism,files
SURREAL_CLIENT_IP=X-Real-IP

#SURREAL_WEB_CRT=/workspace/localhost.crt
#SURREAL_WEB_KEY=/workspace/localhost.key

SURREALDB_PORT=8442
NGINX_PORT=8443

# Tls info.
TLS_CERT_FILE=./certs/localhost.crt
TLS_KEY_FILE=./certs/localhost.key
